
.center {
  display: table;
  width: 100%;
  height: 20vh;
  background-color: black;
}

#social {
  display: table-cell;
  vertical-align: middle;
}

#social ul {
  text-align: center;
  padding-left: 0px;
  margin: 0 auto;
}

#social li {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;
}

/** Facebook **/

.facebook {
  width: 50px;
  height: 50px;
}

.facebook .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-facebook {
  font-size: 25px;
}


/** Instagram **/

.instagram {
  width: 50px;
  height: 50px;
}

.instagram .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.instagram .border:hover {
  background: #ca2900;
  border-color: #9474af;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-instagram {
  font-size: 25px;
}

/** dribbble **/

.whatsapp {
  size: 70px;
}

.whatsapp .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.whatsapp .border:hover {
  background: #006d00;
  border-color: #008500;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-whatsapp {
  font-size: 25px;
}

#social ul li {
  transition: ease .3s;
}

#social ul:hover > li {
  opacity: 0.5;
}

#social ul:hover > li:hover {
  opacity: 1;
}